body {
    font-family: sans-serif;
    background-image: url("sky.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#serch, #results {
    width: 350px;
    margin: 15px auto;
    text-align: center;
}

.weather {
    background-color: white;
    display: block;
    width: 350px;
    height: 120px;
    border: 1px solid #c0c0c0;
    position: relative;
    margin: 15px auto;
    text-align: left;
}

.date {
    font-weight: bold;
    width: 350px;
    text-align: left;
    position: absolute;
    left: 5px;
    top: 5px;
    font-size: 20px;
}

.icon {
    position: absolute;
    top: 20px;
    left: 0;
    width: 100px;
    height: 100px;
}

.temp {
    position: absolute;
    top: 30px;
    left: 110px;
    font-size: 33px;
    font-weight: bold;
}

.temp-like {
    position: absolute;
    top: 70px;
    left: 110px;
}

.description {
    position: absolute;
    top: 90px;
    left: 110px;
}